html{
    background-image:url(img/background-france.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    font-family: sans-serif;
    /*background-image: url("http://www.seecoy.com/images/static.gif");*/
}

body{
    margin:0;
    padding:0;
    /*background-color: white;*/
}

#container{
    width: 1024px;
    height: 768px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: purple;*/
}

header{
    width: 1024px;
    height: 226px;
    /*background-color: red;*/
}

#headerNav{
    margin-top: 46px;
    width: 1024px;
    float: left;
    height: 35px;
    background-color: #f9c70e;
    font-size: 20px;
    text-align: center;
    border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    -webkit-border-radius: 13px 13px 13px 13px;
    border: 2px solid white;
    
    -webkit-box-shadow: inset 0px -67px 34px -46px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px -67px 34px -46px rgba(255,255,255,1);
    box-shadow: inset 0px -67px 34px -46px rgba(255,255,255,1);
}
#headerNav p{
    margin-top: 7px;
    font-weight: bold;
}
#headerTitle{
    width: 875px;
    height: 80px;
    float:right;
    background-color: white;
    font-size: 36px;
    -webkit-box-shadow: 0px 58px 81px 29px rgba(255,255,255,0.99);
    -moz-box-shadow: 0px 58px 81px 29px rgba(255,255,255,0.99);
    box-shadow: 0px 58px 81px 29px rgba(255,255,255,0.99);
}
#headerTitle p{
    margin-left: 60px;
}
#headerLogo{
    padding-top: 42px;
    width: 149px;
    height: 146px;
    /*background-color: yellow;*/
}

#headerSearch{
    margin-top: 23px;
    width: 875px;
    height: 40px;
    float: right;
    /*background-color: yellow;*/
}
#searchBar{
    height: 40px;
    width: 360px;
    background-color: #454545;
    margin-left: 60px;
    text-align: center;
    
    border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    -webkit-border-radius: 13px 13px 13px 13px;
    border: 1px solid black;
}
#searchBar input[type='text']{
    width: 80px;
    margin-top:10px;
}
#searchBar a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

#content{
    margin-top: 20px;
    width: 1027px;
    
    background-color: white;
    height: 950px;
}

.btn{
    color:white;
    background-color:black;
    border:1px solid black;
}
    
#placeholder{
    width:200px;
    height:175px;
    /*background-color: yellow;*/
    float: left;
}
#placeholder iframe{
    width: 200px;
    height: 175px;
}
#article{
    margin-top: 50px;
    margin-left: 70px;
    /*background-color: red;*/
    width: 630px;
    height: 240px;
}
#articleTitle{
    width: 410px;
    height: 50px;
    /*background-color: green;*/
    font-size: 15px;
}
#articleTitle p{
    float: left;
}
#articleDes{
    margin-top: -13px;
    width: 410px;
    height: 90px;
    /*background-color: blue;*/
}
#articleDes p{
}
#articleSocial{
    margin-top: 10px;
    width: 410px;
    height: 50px;
    /*background-color: purple;*/
}
#numberSong{
    padding: 8px;
    background-color: red;
    color: white;
    margin-top: 0px;
}
#title{
    margin-top:8px;
    margin-left: 10px;
}
#articleSocial a{
    float: left;
}
#articleSocial p{
    float: left;
}
#articleSocial img{
    float: right;
    margin-right: 2px;
}
.talk{
    float: left;
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 4px 4px 4px 4px;
}
.talk img{
    width: 15px;
    margin-top: 3px;
    margin-right: 2px;
}
.articleL{
    float: left;
    /*background-color: black;*/
    width: 220px;
    height: 240px;
}
.articleR{
    float: right;
    /*background-color: yellow;*/
    width: 410px;
    height: 240px;
}

#tourtop100text{
    padding-top:30px;
    padding-left:60px;
    font-family:tahoma;
    color:red;
    font-weight:bold;
}

hr{
    margin-left:60px;
    margin-top:-10px;
    background-color: #fff;
    border-top: 2px dotted #8c8b8b;
    width:640px;
    float:left;


}
#rechts{
    float:right;
    margin-right:75px;
}

#top100foto{

    width:230px;
    height:229px;
}

#prijsvraagfoto{
    width:230px;
    height:115px;
    margin-top:40px;
    margin-left:2px;
}

#dynamischetitel{
    width:230px;
    height:115px;
    margin-top:40px;
    margin-left:1px;
}

#bnerfoto{
    margin-top:40px;
    margin-left:-1px
}

#dynamic2{
    margin-top:40px;
}